@import 'includes/env';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Malayalam Sangam Mn', sans-serif;
	letter-spacing: .5px;
}

a {
	color: inherit;
	text-decoration: none;
}

.is-hidden {
	display: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

img {
	width: 100%;
}

.btn {
	border: none;

	&:hover {
		cursor: pointer;
	}

	&:focus {
		outline: inherit;
	}
}

svg {
	width: 100%;
	overflow: visible;
}
