.account {
	position: relative;
	display: flex;
	justify-content: space-between;
}

.minicart {
	// position: absolute;
	// top: 50px;
	// right: 20px;
	border: 1px solid map-get($color-ui, 'wild-sand');
	max-width: 430px;
	width: 100%;
	margin-left: auto;
	// box-shadow: 4px 4px 8px #e0e0e0;
}

.minicart-items {
	list-style: none;
	max-height: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.minicart-item {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 150px;

	&:not(:first-of-type) {
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			background-color: map-get($color-ui, 'white');
			content: '';
			height: 2px;
		}
	}

	&.remove {
		transform: translate(100%);
		height: 0;
		transition: transform .2s ease-out, height .2s .2s ease-out;
	}

	&:last-of-type {
		border-bottom: none;
	}

	.item__image-wrapper {
		padding: 25px 20px;
		display: flex;
    	align-items: center;
    	background-color: map-get($color-ui, 'white');
	}

	.item__image {
		width: 70px;
	}

	.item__content-wrapper {
		background-color: map-get($color-ui, 'wild-sand');
		flex: 1 0 auto;
		padding: 20px;
		font-size: map-get($font-size, 'default');

		.item__top-content,
		.item__bottom-content {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.item__top-content {
			margin-bottom: 45px;
		}

		.item__bottom-content {
			margin-left: 5px;

			.btn--qty {
				background-color: inherit;
				padding: 2px 5px;
			}

			.qty {
				padding: 0 10px;
			}
		}
	}
}

.trash-icon {
	width: 15px;

	path,
	line {
		stroke-width: 12px;
	}

	&:hover {
		cursor: pointer;

		svg {
			transform: rotate(15deg);
		}
	}
}

.minicart-totals {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	font-weight: map-get($font-weight, 'bold');
	border-top: 2px solid map-get($color-ui, 'wild-sand');
	font-size: map-get($font-size, 'bigger');
}

.minicart-actions {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.btn {
		background: map-get($color-ui, 'wild-sand');
		color: map-get($color-ui, 'black');
		width: 100%;
		height: 60px;
		line-height: 60px;
		font-size: map-get($font-size, 'default');
		background: linear-gradient(to right, map-get($color-ui, 'black') 50%, map-get($color-ui, 'wild-sand') 50%);
		background-size: 200% 100%;
		background-position: right bottom;

		&:first-of-type {
			border-right: 1px solid map-get($color-ui, 'white');
		}

		&:last-of-type {
			border-left: 1px solid map-get($color-ui, 'white');	
		}

		&:hover {
			background-position: left bottom;
			transition: all .2s ease-out;

			.btn__text {
				color: map-get($color-ui, 'white');
			}
		}
	}
}

.minicart-notification {
	background-color: white;
	text-align: center;
	padding: 20px;
}

.minicart-menu {
	position: relative;
	padding: 15px;
	width: 150px;
	margin-left: auto;

	div {
		opacity: 1;
		text-align: center;
	}

	.basket-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%);
		margin-top: -10px;
		opacity: 0;
	}

	div,
	.basket-icon {
		transition: opacity .2s ease-in;

	}

	&:hover {
		cursor: pointer;

		div {
			opacity: 0;			
		}

		.basket-icon {
			opacity: 1;
		}
	}
}
