$font-size: (
	'smaller': 8px,
	'small': 12px,
	'default': 14px,
	'big': 16px,
	'bigger': 18px,
);

$font-weight: (
	'bold': 700,
);

$hero-title: (
	'small': 22px,
	'medium': 48px,
	'large': 62px,
);

$font-size-features-subtitle: (
	'small': 23px,
	'medium': 26px,
	'large': 32px,
);

$font-size-feature-title: (
	'small': 14px,
	'medium': 18px,
	'large': 22px,
);

$font-size-feature-description: (
	'small': 12px,
	'medium': 14px,
	'large': 16px,
);
